{% extends "index.html" %} {% block main %}
<form action="/submit" method="post">
<div class="container mt-xl-5">
    <div class="row">          
            <div class="col-md-4">
                <select class="custom-select" name="area" id="area">
                    <option value="a1">A1</option>
                </select>
            </div>
            <div class="col-md-4">
                <select class="custom-select" name="seat" id="seat">
                    <option value="a2">A2</option>
                </select>
            </div>
            <div class="col-md-4">
                    {% if button_state == 'normal' %}
                    <button type="button" class="btn btn-info">Submit</button>
                    {% elif button_state == 'success' %}
                    <button type="button" class="btn btn-success">Success</button>
                    {% elif button_state == 'fail' %}
                    <button type="button" class="btn btn-danger">Fail</button>
                    {% endif %}
            </div>
        </div>
</div>
</form>
{% endblock %}
