{% extends "index.html" %} {% block main %}
<div class="container">
    <div id="pie" style="width: 300px;height: 300px;">

    </div>
</div>

<script>
var dom = document.getElementById("pie");
var myChart = echarts.init(dom);
var app = {};
option = null;
option = {
    title : {
        text: 'Favorite seats',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        x : 'center',
        y : 'bottom',
        data:['1a','1b','1c','1d','1f','1e','2a','2b']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {
                show: true,
                type: ['pie', 'funnel']
            },
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    series : [
        {
            type:'pie',
            radius : [30, 110],
            roseType : 'area',
            data:[
                {value:10, name:'1a'},
                {value:5, name:'1b'},
                {value:15, name:'1c'},
                {value:25, name:'1d'},
                {value:20, name:'1f'},
                {value:35, name:'1e'},
                {value:30, name:'2a'},
                {value:40, name:'2b'}
            ]
        }
    ]
};

if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
</script>
{% endblock %}